@media only screen and (max-width: 922px) and (min-width: 360px) {
    .navigation{
        flex-direction: row;
        right: 0;
        left: 0;
        max-width: 100%;
        height: 46px;
        background: #E5E5E5;
        top: 20px;
        border-bottom: 2px solid #dbdbdb;

    }
    .nav-list a{
        padding: 2px 0;
        padding-right: 0;
        padding-left: 33px;
        background-position: 0 50%;
    }
    .nav-list a:hover{
        background-position: 0 50%;
    }
    .class-wrapper .container{
        max-width: 100% !important;
        padding-right: 20px;
        padding-left: 20px;
    }
    .nav-list{
        padding: 13px 20px;
        display: flex;
        align-items: center;
    }
    .active-nav-li{
        position: relative;
    }
    .nav-list{
        position: relative;
    }
    .active-nav-li:before{
        content: '';
        position: absolute;
        height: 2px;
        background: #B2B2B2;
        left: 0;
        right: 0;
        bottom: -2px;
    }
    .nav-list:hover:before{
        content: '';
        position: absolute;
        height: 2px;
        background: #B2B2B2;
        left: 0;
        right: 0;
        bottom: -2px;
    }
    .nav-list:last-child{
        margin-right: 0;
    }
    .header-class{
        margin-top: 40px;
    }
    .container-card-class h4{
        margin-top: 40px;
    }
    .nav-span{
        display: block;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-none{
        display: none;
    }
    .wrapper-nav{
        position: relative;
    }
    .container-nav{
        position: absolute;
        left: -73px;
        top: 68px;
        display: none;
    }
    .open-menu{
        display: block;
    }
    .response-nav{
        flex-direction: column;
        position: relative;
        background: #ffffff;
        width: 200px;
        height: 204px;
        -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        align-items: flex-start;
    }
    .response-nav:before{
        content: '';
        position: absolute;
        background: url(../../images/white-hint.svg) no-repeat;
        width: 15px;
        height: 15px;
        top: -7px;
        left: 50%;
    }
    .response-nav li{
        margin-right: 0;
        padding: 12px 20px 13px;
        width: 100%;
    }
    .class-wrapper{
        z-index: 1;
    }
    .wrapper-registered{
        margin-left: 10px;
    }
    .wrapper-nav-authorization{
        width: 50%;
    }
    .top-footer .container,
    .center-footer .container,
    .bottom-footer .container{
         margin-right: 0;
         margin-left: 0;
        max-width: 922px;
    }
    .right-list:first-child {
        margin-right: 70px;
    }
    .response-table-student{
        overflow-x: auto;
    }
    .nav-bar{
        height: auto;
        right: 0;
        left: 0;
    }
    .questions{
        width: 48px;
        height: 48px;
        border-radius: 4px;
    }
    .wrapper-question{
        right: 0;
        bottom: 50%;
    }
    .search-header{
        position: absolute;
        bottom: -50px;
        background: #ffffff;
        left: 0;
        right: 0;
        display: none;
    }
    .search-btn{
        background: #FFFFFF;
        background-image: url(../../images/search-solid.svg);
        background-repeat: no-repeat;
        background-position: 16px 50%;
    }
    .search-btn-responsive{
        display: block;
    }
    .search-open-responsive{
        display: flex;
    }
    .search-open-responsive .search{
        display: block;
        max-width: 100%;
        background: transparent;
    }
    .search-open-responsive .close-search{
        display: block;
        background: transparent;
        background-image: url(../../images/close-search.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .autocomplete-suggestions{
        left: 0;
        box-shadow: none;
        border-top: 2px solid #F2F2F2;
        top: 48px;
    }
    .none-922{
        display: none;
    }
    .footer-922{
        display: block;
    }
    .top-footer .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-top: 0;
        padding-left: 40px;
    }
    .wrapper-list-footer-icon{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .margin-right-40{
        margin-right: 40px;
    }
    .text-info-footer p{
        max-width: 100%;
        width: 100%;
    }
    .text-info-footer {
        margin-left: 0;
    }
    .social-icon li {
        width: 20px;
        height: 20px;
    }
    .info-footer {
        max-width: 912px;
    }
    .center-footer {
        padding: 39px 25px;
    }
    .center-footer .container,
    .bottom-footer .container{
         margin-top: 0;
    }
    .bottom-footer {
        padding: 40px 25px;
    }
    .chevron-down{
        margin: 0 16px;
    }
    .menu-close-btn{
        transition: .3s;
        background: #1A3EFF;
        background-image: url("../../images/close-menu.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
    }

}

@media only screen and (max-width: 768px) and (min-width: 360px) {
    .title-menu{
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #262626;
    }
    .response-768{
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #262626;
    }
    .wrapper-nav {
        position: inherit;
    }
    .container-nav{
        top: 70px;
        left: 0;
        right: 0;
    }
    .response-nav{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 768px;
        width: 100%;
        padding: 20px;
        height: 333px;
    }
    .response-nav:before{
        display: none;
    }
    .active-background-search,
    .active-background-search2{
        display: block;
    }
    .purchase{
        display: none;
    }
    .wrapper-nav-authorization {
        width: 41%;
    }
    .chevron-down {
        margin: 0;
        background-position: 100% 50%;
    }
    .active-user-cabinet .chevron-down {
        background-position: 0 50%;
    }
    .card-class{
        max-width: 359px;
    }
    .card-class:nth-child(2n){
        margin-right: 0;
    }
    .drop-down-user{
        bottom: -285px;
    }
    .user-registered{
        position: inherit;
    }
    .sign-out{
        text-align: left;
        padding: 15px 23px;
    }
    .user-cabinet{
        padding: 20px;
    }
    .user-cabinet:before{
        display: none;
    }
    .info-footer {
        max-width: 640px;
    }
    .wrapper-list-footer{
        margin-right: 120px;
    }
    .center-footer .container {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .wrapper-list-footer:first-child,
    .wrapper-list-footer:nth-child(2){
        margin-bottom: 40px;
    }
    .bottom-footer .container{
        flex-wrap: wrap;
    }
    .right-list:first-child {
        margin-right: 150px;
    }
    .nav-bar {
        z-index: 10000;
    }
}
@media only screen and (max-width: 360px){
    .nav-span{
        display: none;
    }
    .block-logo{
        max-width: none;
        width: auto;
    }
    .name-surname{
        display: none;
    }
    .wrapper-nav-authorization {
        width: 20%;
    }

    element.style {
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }
    .chevron-down {
        width: 15px;
        height: 15px;
    }
    .search-btn-responsive {
        display: none;
    }
    .small-logo-img{
        display: block;
    }
    .big-logo{
        display: none;
    }
    .logo {
        width: 27px;
    }
    .logo img {
        max-width: 48px;
    }
    .nav-bar {
        top: 69px;
    }
    .footer-922 {
        display: none;
    }
    .none-922 {
        display: block;
    }
    .info-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .top-footer .container {
        flex-direction: column;
    }
    .card-class{
        margin-right: 0;
    }
    .add{
        display: none;
    }
    .add-class{
        width: 48px;
        height: 48px;
        background-color: #FFFFFF !important;
        border-radius: 4px;
        background: url(../../images/plus.svg) no-repeat center;
    }
    .add-class-modal{
        top: 62px;
    }
    .add-class-modal:before{
        left: 94%;
    }
    .wrapper-nav-authorization {
        width: 30%;
    }
    .container-card-class h4 {
        margin-top: 30px;
    }
    .text-info-footer p {
        margin: 20px 0;
        max-width: 280px;
    }
    .right-list:first-child {
         margin-right: 0;
    }
    .wrapper-list-footer:last-child {
        margin-top: 40px;
    }
    .right-list:last-child{
        margin-top: 0;
    }
    .registered,
    .entrance {
        font-size: 0;
        width: 48px;
        height: 48px;
    }
    .wrapper-registered {
        margin-left: -11px;
    }
    .header-section {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0;
    }
    .header-section p{
        text-align: left;
    }
    .user-registered {
        margin-left: 20px;
    }
    .header-pagination {
        align-items: flex-start;
        flex-direction: column;
    }
    .pagination-number{
        margin-top: 10px;
    }
    .title-journal{
        flex-direction: column;
    }
    .container-card {
        flex-wrap: wrap;
    }
    .width-card-360{
        margin-right: 0;
    }
    .add-new-information {
        align-items: flex-start;
        flex-direction: column;
    }
    .add-student{
        font-size: 0;
    }
    .new-student{
        width: 48px;
        height: 48px;
        background: #ffffff;
        border-radius: 4px;
    }
    .add-student{
        padding: 10px;
    }
    .add-student:before {
       left: 12px;
    }
    .add-student-modal:before {
        left: 95.3%;
    }
    .add-student-modal{
        top: 60px;
    }
}
@media (max-width: 300px) {
    .tabs, .tabs li {
        float: none;
    }
}